<nav class="navbar navbar-dark bg-dark mb-sm-3">
  <a class="navbar-brand" href="/">Keycloak demo app
    <span class="badge badge-info">1.0</span>
  </a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
    </div>
  </div>
  <form class="form-inline">
    <button *ngIf="loggedIn !== true" type="button" class="btn btn-primary" routerLink="/admin-gui/login"><span class="oi oi-account-login"></span> Login</button>
    <span *ngIf="loggedIn === true" class="text-light">Welcome {{username}}!</span>
    <button *ngIf="loggedIn === true" type="button" class="btn btn-secondary" style="margin: 0 0 0 10px" (click)="onLogout()"><span class="oi oi-account-logout"></span> Logout</button>
  </form>
</nav>

