
.my-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.my-header {
  flex-shrink: 0;
}

.my-content{
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
}

.my-footer{
  flex-shrink: 0;
}
